* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clogo {
  color: rgb(192, 20, 20);
  box-shadow: 1px 1px 1px 1px rgb(150, 144, 144);
}

.GoogleMap {
  margin-top: 0.2rem;
  color: rgb(100, 48, 48) !important;
}
.imgwh {
  width: 50px;
}
