* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clogo {
  color: white;
  box-shadow: 1px 1px 1px 1px rgb(150, 144, 144);
}

.GoogleMap {
  margin-top: 0.2rem;
  color: rgb(100, 48, 48) !important;
}
.imgwh {
  width: 50px;
  height: 30px;
}

.backgroundc {
  background-color: orange !important;
}

.main-back {
  background-color: rgb(73, 68, 68);
  width: 193vh;
}

.d-flex .justify-content-evenly {
  display: flex;
  flex-direction: row-reverse;
}
